<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>Controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterControl</servlet-name>
        <servlet-class>Controller.RegisterControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieDisplay</servlet-name>
        <servlet-class>Controller.MovieDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SectionDisplay</servlet-name>
        <servlet-class>Controller.SectionDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatDisplay</servlet-name>
        <servlet-class>Controller.SeatDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefundControl</servlet-name>
        <servlet-class>Controller.RefundControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmRefund</servlet-name>
        <servlet-class>Controller.ConfirmRefund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMovie</servlet-name>
        <servlet-class>Controller.ManageMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSection</servlet-name>
        <servlet-class>Controller.ManageSection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMovie</servlet-name>
        <servlet-class>Controller.EditMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseControl</servlet-name>
        <servlet-class>Controller.PurchaseControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmPurchase</servlet-name>
        <servlet-class>Controller.confirmPurchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoffControl</servlet-name>
        <servlet-class>Controller.logoffControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterControl</servlet-name>
        <url-pattern>/register_check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieDisplay</servlet-name>
        <url-pattern>/MovieDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SectionDisplay</servlet-name>
        <url-pattern>/SectionDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatDisplay</servlet-name>
        <url-pattern>/SeatDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefundControl</servlet-name>
        <url-pattern>/RefundControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmRefund</servlet-name>
        <url-pattern>/ConfirmRefund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMovie</servlet-name>
        <url-pattern>/ManageMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSection</servlet-name>
        <url-pattern>/ManageSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMovie</servlet-name>
        <url-pattern>/EditMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseControl</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmPurchase</servlet-name>
        <url-pattern>/confirmPurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoffControl</servlet-name>
        <url-pattern>/logoffControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
